/* Estilos para el body general */
body {
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
/* Estilos para el logo del encabezado */
.header-container img{
    width: 33%;
    height: 20%;
}
/* Estilos para el encabezado con imagen de fondo */
.header-container {   
    background-image: url('source/product_cctv_banner-2-1024x373.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: #fff; 
    padding: 100px 100px ; 
    text-align: center -10px; 
    position: relative;
}
/* Estilos para el menú de navegación */
.header-container nav {
    background-color: rgba(0, 0, 0, 0.7);  
    padding: 0px 120px; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: left;
}
/* Estilos para los elementos de lista en el menú */
.header-container nav ul {
    list-style-type: none;
    padding: 10px 0; 
}
.header-container nav ul li {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    margin: 0 10px;
}
.header-container nav ul li a {
    text-decoration:solid;
    color: #fff;
    font-weight: bold;
    border: 2px solid seashell; 
    padding: 10px 20px; 
    border-radius: 10px; 
}
@media screen and (max-width: 768px) {
    .header-container nav {
        position: static; 
        background-color: transparent; 
        text-align: center;
    }

    .header-container nav ul li {
        display: block; 
        margin: 5px 0;
    }

    .header-container nav ul li a {
        display: block; 
        margin: 5px auto; 
        width: 80%;
    }
}
/* Estilos para el carrusel */
.carousel-container {
    background-image: url('source/carrousel_backgraund.jpg');
    background-size: cover;
    border-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative; 
}
.carousel {
    overflow: hidden;
    width: 500px;
    max-width: 100%; 
    position: relative;
}
.carousel-inner #carousel-inner {
        display: flex;
        transition: transform 1s ease; 
    }
.carousel img {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 10px;  
}
/* Estilos para los botones */
#prevBtn,
#nextBtn {
    font-family: Lato;
    font-weight: 900;
    font-size: 17px;
    color: rgb(0, 0, 0);
    background-color:#e9510a;
    padding: 10px 30px;
    border: solid #000000 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 265ms; 
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%; 
}
#prevBtn {
    left: 15%;
}
#nextBtn {
    right: 15%; 
}
/* Estilo para los botones al pasar el mouse */
#prevBtn:hover,
#nextBtn:hover {
    transition : 265ms;
    padding: 10px 46px;
    transform : translateY(-5px);
    background-color: #e9510a;
    color: #080808;
    border: solid 2px #080808;
}
.titulo{
    background-image: url('source/product_cctv_banner-2-1024x373.jpg'); 
    background-size:cover ; 
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}
/* Estilos para el contenedor de la tabla */
.content{
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    font-display: center;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: #000000;
}
.text-cell {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    background-color: rgb(255, 255, 255);
}
.image-cell {
    padding-right: 220px;
}
#imagen {
    background-size: cover;
    height: auto;
    border: black 1px solid transparent; 
    border-radius: 10px;
}
.content1 {
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    align-items: center;
    font-display: center;
    font-style: italic;

}
/* Estilos para el contenedor del título y la imagen */
.NuevaApp{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}
.App{  
    display:flex;
    justify-content: center;
    margin-bottom: 100px;
}
#App2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-left: 50px;
}
#App2 img{
    width:300px;
    padding: 10px;
}
/*Estilos para el Pie de página*/
.footer{
    display: flex;
    background-color: rgb(50, 50, 50);
    color: #fff;
    margin-top: 10px;
    align-items: center;   
    justify-content: center;
    font-style: italic;
    font-size: 18px;
}
.footer img{
    margin-top: 20px;
    margin-bottom: 20px;

}
/*Estilos para el Formulario*/
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.labeltext {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"],
.button {
    background-color: #4CAF50;
    color: #060606;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover,
.button:hover {
    background-color: #45a049;
}
#resultado {
    color: #000000;
    margin-top: 15px;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 4px;
    font-weight: bold;
    font:italic;
    text-align: center;
}















