/*Estilos para HTML*/
/* Estilos para el body general */
body{
    background-color: #d5d9de;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Estilos para el logo del encabezado */
.header-with-bg img{
    width: 33%;
    height: 20%;
}
/* Estilos para el encabezado con imagen de fondo */
.header-with-bg {   
    background-image: url('source/product_cctv_banner-2-1024x373.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir el encabezado */
    background-position: center; /* Centra la imagen de fondo */
    color: #fff; /* Color del texto en el encabezado */
    padding: 100px 0 ; /* Espaciado interno superior e inferior para el encabezado */
    text-align: center; /* Centra el contenido del encabezado */
    position: relative; /* Permite posicionar elementos secundarios con respecto a este elemento */
}
/* Estilos para el menú de navegación */
.header-with-bg nav {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para el menú */
    padding: 10px 10px; /* Espaciado interno superior e inferior para el menú */
    position: absolute; /* Permite posicionar el menú de manera absoluta */
    bottom: 0; /* Lo coloca en la parte inferior del encabezado */
    left: 0; /* Lo coloca en la parte izquierda del encabezado */
    right: 0; /* Lo coloca en la parte derecha del encabezado */
    text-align: left; /* Centra los elementos del menú */
}
/* Estilos para los elementos de lista en el menú */
.header-with-bg nav ul {
    list-style-type: none;
    padding: 10px 0; /* Espaciado interno para los elementos de lista */
}
.header-with-bg nav ul li {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    margin: 0 10px; /* Espacio horizontal entre elementos de lista */
}
.header-with-bg nav ul li a {
    text-decoration:solid;
    color: #fff;
    font-weight: bold;
    border: 2px solid seashell; /* Borde blanco */
    padding: 10px 10px; /* Espaciado interno para hacer los botones más grandes */
    border-radius: 10px; /* Bordes redondeados para dar estilo */
}
@media screen and (max-width: 768px) {
    .header-with-bg nav {
        position: static; /* Cambia a posición estática para ajustarse al flujo normal */
        background-color: transparent; /* Fondo transparente */
        text-align: center; /* Centra los elementos del menú */
    }

    .header-with-bg nav ul li {
        display: block; /* Muestra cada elemento en una línea separada */
        margin: 5px 0; /* Agrega espacio entre elementos */
    }

    .header-with-bg nav ul li a {
        display: block; /* Muestra cada enlace en una línea separada */
        margin: 5px auto; /* Centra los enlaces horizontalmente */
        width: 80%; /* Ajusta el ancho de los enlaces */
    }
}
#titulo{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color:#d5d9de;
    padding: 10px;
}
/* Estilos para el carrusel */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d5d9de;
    position: relative; /* Agrega posición relativa para que los botones estén dentro del contenedor */
}

.carousel {
    overflow: hidden;
    width: 500px; /* Ancho deseado para el carrusel */
    max-width: 100%; /* Para asegurarse de que se ajuste al contenedor */
    position: relative;
}

.carousel-inner #carousel-inner {
        display: flex;
        transition: transform 1s ease; /* Agrega una transición suave */
    }
.carousel img {
    width: 100%; /* Para que las imágenes se ajusten al carrusel */
    height: auto;
    display: block;
}

/* Estilos para los botones */
#prevBtn,
#nextBtn {
    background-color: black; /* Color de fondo para los botones */
    color: #fff; /* Color de texto para los botones */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    padding: 10px 20px; /* Espaciado interno para los botones */
    font-size: 16px;
    cursor: pointer;
    position: absolute; /* Coloca los botones encima del carrusel */
    top: 50%; /* Coloca los botones en el centro verticalmente */
    transform: translateY(-50%); /* Alinea verticalmente los botones */
    z-index: 1; /* Coloca los botones encima del carrusel */
}

#prevBtn {
    left: 10px; /* Alinea el botón "Anterior" a la izquierda */
}

#nextBtn {
    right: 10px; /* Alinea el botón "Siguiente" a la derecha */
}

/* Estilo para los botones al pasar el mouse */
#prevBtn:hover,
#nextBtn:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}




